/* Basic Navbar Styles */
.navbar {
  width: 150px;
  height: 95vh; /* Full height of the viewport */
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out logo, menu, and user profile */
  padding: 20px;
}

.navbar-container {
  display: flex;
  flex-direction: column; /* Align logo, menu, and user profile vertically */
  height: 100%;
}

/* Logo */
.navbar-logo {
  margin-bottom: 20px;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  display: block;
}

.navbar-link:hover, .navbar-link.active {
  background-color: #555;
  color: #fff;
  border-radius: 5px;
}

/* Navbar Menu */
.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin: 10px 0;
}

/* User Profile and Logout */
.navbar-user {
  margin-top: auto; /* Push the user info and logout button to the bottom */
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}

.user-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.logout {
  margin-top: 15px;
  margin-bottom: 0px;
}
